@font-face {
   font-family: 'NuberNext-BoldExtendedItalic';
   font-display: swap;
   src: url('file:///C:/Users/AASHG/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-27_110725/fonts/NuberNext-BoldExtendedItalic/font.ttf');
}
